In [1]:
import numpy as np
import pandas as pd

In [2]:
train_df=pd.read_csv("train.csv",delimiter=",")

In [3]:
tr_y=train_df.values[:,4]

In [4]:
tr_y

array([482.26, 446.94, 452.56, ..., 437.65, 459.97, 444.42])

In [5]:
train_df.head()

     # T      V       AP     RH      EP
0   8.58  38.38  1021.03  84.37  482.26
1  21.79  58.20  1017.21  66.74  446.94
2  16.64  48.92  1011.55  78.76  452.56
3  31.38  71.32  1009.17  60.42  433.44
4   9.20  40.03  1017.05  92.46  480.38

In [6]:
del train_df[' EP']

In [7]:
test=np.genfromtxt("test.csv",delimiter=",")

In [8]:
from sklearn import preprocessing

In [9]:
scaler=preprocessing.StandardScaler()

In [10]:
scaler.fit(train_df)

StandardScaler()

In [11]:
train_scaled=scaler.transform(train_df)

In [12]:
test_scaled=scaler.transform(test)

In [13]:
train_df.head()

     # T      V       AP     RH
0   8.58  38.38  1021.03  84.37
1  21.79  58.20  1017.21  66.74
2  16.64  48.92  1011.55  78.76
3  31.38  71.32  1009.17  60.42
4   9.20  40.03  1017.05  92.46

In [14]:
names=train_df.columns

In [15]:
index=names
df_train=pd.DataFrame(train_scaled,columns=index)

In [16]:
index=[' EP']
df_y=pd.DataFrame(tr_y,columns=index)

In [17]:
df = df_train.join(df_y)
df.head(10)

        # T         V        AP        RH      EP
0 -1.478275 -1.247642  1.302211  0.758625  482.26
1  0.289012  0.306798  0.661749 -0.446922  446.94
2 -0.399976 -0.421013 -0.287207  0.375011  452.56
3  1.572001  1.335770 -0.686238 -0.879086  433.44
4 -1.395329 -1.118236  0.634923  1.311822  480.38
5  0.961946  1.171856  0.002845 -1.532803  436.36
6 -1.357869 -1.057846  1.769982  0.390054  485.36
7 -1.367234 -0.999810  1.042338  0.609555  481.59
8  1.525176  1.200090 -0.920962 -0.637019  432.56
9 -0.185921  0.381304 -0.211760  0.760676  449.48

In [18]:
train_data=df.values
train_data

array([[-1.47827466e+00, -1.24764165e+00,  1.30221067e+00,
         7.58624590e-01,  4.82260000e+02],
       [ 2.89012041e-01,  3.06797549e-01,  6.61749044e-01,
        -4.46921842e-01,  4.46940000e+02],
       [-3.99975582e-01, -4.21012529e-01, -2.87207194e-01,
         3.75010552e-01,  4.52560000e+02],
       ...,
       [ 1.36062192e+00,  1.18048335e+00, -6.54382840e-01,
        -5.83682640e-01,  4.37650000e+02],
       [-4.36097263e-01,  9.29089763e-04,  7.84140927e-01,
        -6.59584883e-01,  4.59970000e+02],
       [ 1.40209496e+00,  6.07960340e-01, -4.31394890e-01,
        -1.73110573e+00,  4.44420000e+02]])

In [19]:
def step_grad(points, learn_rate, M):
    r = points.shape[0]
    c = points.shape[1]
    new_M = np.zeros(c)
    
    for i in range(r):
        x = points[i, 0:c-1]
        x = np.append(x, 1)
        y = points[i,c-1]
        for j in range(c):
            new_M[j] += (-2/r) * (y - (M * x).sum()) * x[j]
        M = M - (learn_rate * new_M)
    return M

In [20]:
def gd(points, learn_rate, num_iter):
    c = points.shape[1]
    M = np.zeros(c)
    
    for i in range(num_iter):
        M = step_grad(points, learn_rate, M)
        print(i, "cost = ", cost(points, M))

    return M

In [21]:
def cost(points, M):
    total_cost = 0
    r = points.shape[0]
    c = points.shape[1]
    
    for i in range(r):
        x = points[i,0:c-1]
        x = np.append(x, 1)
        y = points[i,c-1]
        total_cost += (y - (M * x).sum()) ** 2  
    total_cost = (1/r) * total_cost
    return total_cost

In [22]:
def run():
    learning_rate = 0.0001
    num_iterations = 500
    m = gd(train_data, learning_rate, num_iterations)
    
    return m[0:train_data.shape[1]-1],m[train_data.shape[1]-1]

In [ ]:
m,c=run()

0 cost =  27422.391537749892
1 cost =  3661.741184229716
2 cost =  509.4162439398636
3 cost =  90.679865576776
4 cost =  34.36609667266653
5 cost =  26.298115850695876
6 cost =  24.711342779573602
7 cost =  24.063822257310964
8 cost =  23.60319883249452
9 cost =  23.22127102304074
10 cost =  22.89527361542579
11 cost =  22.615669698410695
12 cost =  22.375561062899454
13 cost =  22.169300129563187
14 cost =  21.99208784322746
15 cost =  21.83982674403131
16 cost =  21.709004737632025
17 cost =  21.59660814698133
18 cost =  21.500048515549384
19 cost =  21.4171016519018
20 cost =  21.34585580381125
21 cost =  21.284667512958013
22 cost =  21.232123831265003
23 cost =  21.187009933797146
24 cost =  21.148281318950268
25 cost =  21.115039930080364
26 cost =  21.086513635387
27 cost =  21.062038588616364
28 cost =  21.04104406313109
29 cost =  21.023039410871657
30 cost =  21.007602847529906
31 cost =  20.994371807677126
32 cost =  20.983034649788788
33 cost =  20.973323522101623
34 cost =  20.965008226805004
35 cost =  20.95789094286603
36 cost =  20.951801687365784
37 cost =  20.946594412043755
38 cost =  20.942143646206222
39 cost =  20.93834160958533
40 cost =  20.935095729416716
41 cost =  20.932326505203083
42 cost =  20.929965672531676
43 cost =  20.92795462411075
44 cost =  20.926243052047152
45 cost =  20.92478778040401
46 cost =  20.923551761421006
47 cost =  20.922503212489175
48 cost =  20.921614874182584
49 cost =  20.92086337239862
50 cost =  20.920228670034515
51 cost =  20.919693595657307
52 cost =  20.919243438388236
53 cost =  20.91886559972177
54 cost =  20.91854929430457
55 cost =  20.918285292809372
56 cost =  20.918065701004537
57 cost =  20.917883769942748
58 cost =  20.91773373290112
59 cost =  20.917610665322986
60 cost =  20.917510364528955
61 cost =  20.91742924642206
62 cost =  20.917364256799363
63 cost =  20.917312795216795
64 cost =  20.917272649642392
65 cost =  20.91724194037932
66 cost =  20.91721907195301
67 cost =  20.91720269184202
68 cost =  20.917191655086757
69 cost =  20.91718499394717
70 cost =  20.91718189189579
71 cost =  20.917181661334862
72 cost =  20.91718372450936
73 cost =  20.917187597165128
74 cost =  20.917192874561216
75 cost =  20.917199219503225
76 cost =  20.91720635211015
77 cost =  20.91721404107057
78 cost =  20.917222096169755
79 cost =  20.917230361914232
80 cost =  20.91723871209008
81 cost =  20.917247045127127
82 cost =  20.917255280147188
83 cost =  20.917263353602145
84 cost =  20.917271216418094
85 cost =  20.917278831565525
86 cost =  20.91728617200332
87 cost =  20.91729321893281
88 cost =  20.91729996032377
89 cost =  20.917306389669033
90 cost =  20.917312504933935
91 cost =  20.91731830767364
92 cost =  20.9173238022926
93 cost =  20.91732899542396
94 cost =  20.917333895412213
95 cost =  20.917338511883187
96 cost =  20.917342855387624
97 cost =  20.917346937107588
98 cost =  20.917350768615876
99 cost =  20.9173543616795
100 cost =  20.917357728102484
101 cost =  20.917360879596988
102 cost =  20.917363827685516
103 cost =  20.91736658362075
104 cost =  20.917369158327798
105 cost =  20.917371562358092
106 cost =  20.9173738058596
107 cost =  20.917375898554695
108 cost =  20.917377849728208
109 cost =  20.91737966822124
110 cost =  20.917381362432504
111 cost =  20.917382940320902
112 cost =  20.91738440941578
113 cost =  20.917385776826066
114 cost =  20.9173870492538
115 cost =  20.917388233008392
116 cost =  20.917389334022428
117 cost =  20.917390357867028
118 cost =  20.917391309769215
119 cost =  20.917392194628217
120 cost =  20.917393017031742
121 cost =  20.917393781273365
122 cost =  20.91739449136725
123 cost =  20.917395151065502
124 cost =  20.917395763871642
125 cost =  20.91739633305675
126 cost =  20.91739686167165
127 cost =  20.917397352562112
128 cost =  20.9173978083807
129 cost =  20.917398231598952
130 cost =  20.917398624519265
131 cost =  20.91739898928566
132 cost =  20.917399327893445
133 cost =  20.91739964220024
134 cost =  20.917399933933993
135 cost =  20.91740020470211
136 cost =  20.917400455999477
137 cost =  20.917400689216034
138 cost =  20.91740090564401
139 cost =  20.917401106484352
140 cost =  20.91740129285348
141 cost =  20.917401465788238
142 cost =  20.917401626252754
143 cost =  20.917401775141485
144 cost =  20.917401913286557
145 cost =  20.9174020414598
146 cost =  20.917402160378625
147 cost =  20.91740227070883
148 cost =  20.917402373068846
149 cost =  20.91740246803288
150 cost =  20.917402556133677
151 cost =  20.917402637866115
152 cost =  20.91740271368968
153 cost =  20.91740278403023
154 cost =  20.917402849283718
155 cost =  20.917402909817216
156 cost =  20.917402965972155
157 cost =  20.91740301806396
158 cost =  20.91740306638652
159 cost =  20.917403111212305
160 cost =  20.917403152793817
161 cost =  20.917403191365725
162 cost =  20.91740322714585
163 cost =  20.917403260335536
164 cost =  20.91740329112256
165 cost =  20.91740331968054
166 cost =  20.917403346170826
167 cost =  20.917403370742928
168 cost =  20.917403393535622
169 cost =  20.917403414677725
170 cost =  20.917403434288772
171 cost =  20.91740345247969
172 cost =  20.91740346935277
173 cost =  20.917403485004222
174 cost =  20.917403499521548
175 cost =  20.917403512987487
176 cost =  20.917403525477955
177 cost =  20.917403537063684
178 cost =  20.91740354781008
179 cost =  20.917403557778112
180 cost =  20.917403567024138
181 cost =  20.917403575600083
182 cost =  20.917403583554872
183 cost =  20.917403590933358
184 cost =  20.917403597777213
185 cost =  20.917403604125365
186 cost =  20.917403610013533
187 cost =  20.91740361547529
188 cost =  20.917403620541116
189 cost =  20.91740362523995
190 cost =  20.91740362959811
191 cost =  20.91740363364094
192 cost =  20.91740363739044
193 cost =  20.917403640868546
194 cost =  20.917403644094513
195 cost =  20.91740364708679
196 cost =  20.91740364986223
197 cost =  20.917403652436658
198 cost =  20.917403654824508
199 cost =  20.917403657039173
200 cost =  20.917403659093498
201 cost =  20.91740366099907
202 cost =  20.917403662766333
203 cost =  20.91740366440584
204 cost =  20.917403665926244

In [ ]:
print("m = ", m)
print("c = ", c)

In [ ]:
def predict(points, m, c):
    r = points.shape[0]
    pred = np.zeros(r)
    
    for i in range(r):
        X = points[i,:]
        pred[i] = (m * X).sum() + c
        
    return pred

In [ ]:
index=names
df_test=pd.DataFrame(test_scaled,columns=index)

In [ ]:
test_data=df_test.values
test_data

In [ ]:
predictions = predict(test_data, m, c)

In [ ]:
np.savetxt("predictions.csv",predictions,fmt="%.5f")

In [ ]:
predictions